- @title = "JettingPenguin - World Travels of Penguinoh the Stuffed Penguin"

#main
  %ul#pictures
    %li
      %a.thickbox{:href => "images/pictures/first_emirates_a380_small.jpg"}
        %img{:alt => "First on Emirates A380", :src => "images/pictures/first_emirates_a380.jpg"}/
      %strong First on Emirates A380
    %li
      %a.thickbox{:href => "images/pictures/thai_a380_small.jpg"}
        %img{:alt => "Penguin w/Thai A380", :src => "images/pictures/thai_a380.jpg"}/
      %strong Penguin w/Thai A380
    %li
      %a.thickbox{:href => "images/pictures/business_thai_a380_small.jpg"}
        %img{:alt => "Business on Thai A380", :src => "images/pictures/business_thai_a380.jpg"}/
      %strong Business on Thai A380
    %li
      %a.thickbox{:href => "images/pictures/madrid_small.jpg"}
        %img{:alt => "Penguinoh in Madrid", :src => "images/pictures/madrid.jpg"}/
      %strong Penguinoh in Madrid
    %li
      %a.thickbox{:href => "images/pictures/macau_small.jpg"}
        %img{:alt => "Penguinoh in Macau", :src => "images/pictures/macau_small.jpg"}/
      %strong Penguinoh in Macau
    %li
      %a.thickbox{:href => "images/pictures/philadelphia_small.jpg"}
        %img{:alt => "Penguinoh in Philadelphia", :src => "images/pictures/philadelphia.jpg"}/
      %strong Penguinoh in Philadellphia
    %li
      %a.thickbox{:href => "images/pictures/seoul_small.jpg"}
        %img{:alt => "Penguinoh in Seoul", :src => "images/pictures/seoul.jpg"}/
      %strong Penguinoh in Seoul
    %li
      %a.thickbox{:href => "images/pictures/angkor_wat.jpg"}
        %img{:alt => "Penguinoh in Cambodia", :src => "images/pictures/angkor_wat_small.jpg"}/
      %strong Angkor Wat, Cambodia
    %li
      %a.thickbox{:href => "images/pictures/chiang_mai.jpg"}
        %img{:alt => "Penguinoh in Chiang Mai", :src => "images/pictures/chiang_mai_small.jpg"}/
      %strong Chiang Mai, Thailand
    %li
      %a.thickbox{:href => "images/pictures/lebua_bangkok.jpg"}
        %img{:alt => "Penguinoh at Lebua State Tower, Bangkok", :src => "images/pictures/lebua_bangkok_small.jpg"}/
      %strong Lebua Tower, Bangkok
    %li
      %a.thickbox{:href => "images/pictures/tokyo.jpg"}
        %img{:alt => "Penguinoh in Shinjuku, Tokyo", :src => "images/pictures/tokyo_small.jpg"}/
      %strong Tokyo
    %li
      %a.thickbox{:href => "images/pictures/bamboo_raft.jpg"}
        %img{:alt => "Penguinoh on Bamboo Raft", :src => "images/pictures/bamboo_raft_small.jpg"}/
      %strong Bamboo Raft
    %li
      %a.thickbox{:href => "images/pictures/air_force_one.jpg"}
        %img{:alt => "Penguinoh with Air Force One", :src => "images/pictures/air_force_one_small.jpg"}/
      %strong Air Force One
    %li
      %a.thickbox{:href => "images/pictures/concorde.jpg"}
        %img{:alt => "Penguinoh with Concorde", :src => "images/pictures/concorde_small.jpg"}/
      %strong Concorde
    %li
      %a.thickbox{:href => "images/pictures/museum_of_flight.jpg"}
        %img{:alt => "Penguinoh at Museum of Flight", :src => "images/pictures/museum_of_flight_small.jpg"}/
      %strong Museum of Flight
    %li
      %a.thickbox{:href => "images/pictures/elephant.jpg"}
        %img{:alt => "Penguinoh with Elephant", :src => "images/pictures/elephant_small.jpg"}/
      %strong With Elephant
    %li
      %a.thickbox{:href => "images/pictures/cows.jpg"}
        %img{:alt => "Penguinoh with Cows", :src => "images/pictures/cows_small.jpg"}/
      %strong With Cows
    %li
      %a.thickbox{:href => "images/pictures/thai_food.jpg"}
        %img{:alt => "Penguinoh with Thai Food", :src => "images/pictures/thai_food_small.jpg"}/
      %strong Eating Thai Food
    %li
      %a.thickbox{:href => "images/pictures/engine_747.jpg"}
        %img{:alt => "Penguinoh with 747 Engine", :src => "images/pictures/engine_747_small.jpg"}/
      %strong 747 Engine
    %li
      %a.thickbox{:href => "images/pictures/on_jetblue_seat.jpg"}
        %img{:alt => "Penguinoh on JetBlue", :src => "images/pictures/on_jetblue_seat_small.jpg"}/
      %strong Ready for Take-Off!
    %li
      %a.thickbox{:href => "images/pictures/in_jetblue_seat.jpg"}
        %img{:alt => "Penguinoh on JetBlue", :src => "images/pictures/in_jetblue_seat_small.jpg"}/
      %strong I guess this is my seat
    %li
      %a.thickbox{:href => "images/pictures/rochester.jpg"}
        %img{:alt => "Penguinoh in Rochester, NY", :src => "images/pictures/rochester_small.jpg"}/
      %strong Rochester, NY
    %li
      %a.thickbox{:href => "images/pictures/las_vegas.jpg"}
        %img{:alt => "Penguinoh in Phoenix, AZ", :src => "images/pictures/las_vegas_small.jpg"}/
      %strong Las Vegas, NV
    %li
      %a.thickbox{:href => "images/pictures/san_francisco.jpg"}
        %img{:alt => "Penguinoh in San Francisco, CA", :src => "images/pictures/san_francisco_small.jpg"}/
      %strong San Francisco, CA
    %li
      %a.thickbox{:href => "images/pictures/monster_penguin.jpg"}
        %img{:alt => "Penguinoh with Monster Penguin", :src => "images/pictures/monster_penguin_small.jpg"}/
      %strong Monster Penguin
    %li
      %a.thickbox{:href => "images/pictures/boston.jpg"}
        %img{:alt => "Penguinoh in Boston, MA", :src => "images/pictures/boston_small.jpg"}/
      %strong Boston, MA
    %li
      %a.thickbox{:href => "images/pictures/seattle.jpg"}
        %img{:alt => "Penguinoh in Seattle, WA", :src => "images/pictures/seattle_small.jpg"}/
      %strong Seattle, WA
    %li
      %a.thickbox{:href => "images/pictures/grandpa.jpg"}
        %img{:alt => "Penguinoh in Seattle, WA", :src => "images/pictures/grandpa_small.jpg"}/
      %strong Grandpa
    %li
      %a.thickbox{:href => "images/pictures/portland.jpg"}
        %img{:alt => "Penguinoh in Portland, OR", :src => "images/pictures/portland_small.jpg"}/
      %strong Portland, OR
    %li
      %a.thickbox{:href => "images/pictures/chicago.jpg"}
        %img{:alt => "Penguinoh in Chicago, IL", :src => "images/pictures/chicago_small.jpg"}/
      %strong Chicago, IL
    %li
      %a.thickbox{:href => "images/pictures/los_angeles.jpg"}
        %img{:alt => "Penguinoh in Los Angeles, CA", :src => "images/pictures/los_angeles_small.jpg"}/
      %strong Los Angeles, CA
    %li
      %a.thickbox{:href => "images/pictures/washington_dc.jpg"}
        %img{:alt => "Penguinoh in Washington, DC", :src => "images/pictures/washington_dc_small.jpg"}/
      %strong Washington, DC
    %li
      %a.thickbox{:href => "images/pictures/san_diego.jpg"}
        %img{:alt => "Penguinoh in San Diego, CA", :src => "images/pictures/san_diego_small.jpg"}/
      %strong San Diego, CA
    %li
      %a.thickbox{:href => "images/pictures/williamsport.jpg"}
        %img{:alt => "Penguinoh in Williamsport, PA", :src => "images/pictures/williamsport_small.jpg"}/
      %strong Williamsport, PA
    %li
      %a.thickbox{:href => "images/pictures/vancouver.jpg"}
        %img{:alt => "Penguinoh in Vancouver, Canada", :src => "images/pictures/vancouver_small.jpg"}/
      %strong Vancouver, Canada
    %li
      %a.thickbox{:href => "images/pictures/hong_kong.jpg"}
        %img{:alt => "Penguinoh in Hong Kong", :src => "images/pictures/hong_kong_small.jpg"}/
      %strong Hong Kong
    %li
      %a.thickbox{:href => "images/pictures/singapore.jpg"}
        %img{:alt => "Penguinoh in Singapore", :src => "images/pictures/singapore_small.jpg"}/
      %strong Singapore
    %li
      %a.thickbox{:href => "images/pictures/bangkok.jpg"}
        %img{:alt => "Penguinoh in Bangkok, Thailand", :src => "images/pictures/bangkok_small.jpg"}/
      %strong Bangkok, Thailand
    %li
      %a.thickbox{:href => "images/pictures/dubai.jpg"}
        %img{:alt => "Penguinoh in Dubai, AUE", :src => "images/pictures/dubai_small.jpg"}/
      %strong Dubai, UAE
    %li
      %a.thickbox{:href => "images/pictures/abu_dhabi.jpg"}
        %img{:alt => "Penguinoh in Abu Dhabi, UAE", :src => "images/pictures/abu_dhabi_small.jpg"}/
      %strong Abu Dhabi, UAE
    %li
      %a.thickbox{:href => "images/pictures/istanbul.jpg"}
        %img{:alt => "Penguinoh in Istanbul, Turkey", :src => "images/pictures/istanbul_small.jpg"}/
      %strong Istanbul, Turkey
    %li
      %a.thickbox{:href => "images/pictures/athens.jpg"}
        %img{:alt => "Penguinoh in Athens, Greece", :src => "images/pictures/athens_small.jpg"}/
      %strong Athens, Greece
    %li
      %a.thickbox{:href => "images/pictures/barcelona.jpg"}
        %img{:alt => "Penguinoh in Barcelona, Spain", :src => "images/pictures/barcelona_small.jpg"}/
      %strong Barcelona, Spain
    %li
      %a.thickbox{:href => "images/pictures/army.jpg"}
        %img{:alt => "Penguinoh with Army of Stuffed Penguins", :src => "images/pictures/army_small.jpg"}/
      %strong Army of Stuffed Penguins
    %li
      %a.thickbox{:href => "images/pictures/boulder.jpg"}
        %img{:alt => "Penguinoh in Boulder, CO", :src => "images/pictures/boulder_small.jpg"}/
      %strong Boulder, Colorado
    %li
      %a.thickbox{:href => "images/pictures/denver.jpg"}
        %img{:alt => "Penguinoh in Denver, CO", :src => "images/pictures/denver_small.jpg"}/
      %strong Denver, Colorado
    %li
      %a.thickbox{:href => "images/pictures/rockies.jpg"}
        %img{:alt => "Penguinoh in The Rockies", :src => "images/pictures/rockies_small.jpg"}/
      %strong The Rockies, Colorado
    %li
      %a.thickbox{:href => "images/pictures/bat.jpg"}
        %img{:alt => "Penguinoh taking a Bath", :src => "images/pictures/bath_small.jpg"}/
      %strong Taking a Bath
    %li
      %a.thickbox{:href => "images/pictures/desert.jpg"}
        %img{:alt => "Penguinoh in The Desert", :src => "images/pictures/desert_small.jpg"}/
      %strong The Arizona Desert
    %li
      %a.thickbox{:href => "images/pictures/grand_canyon.jpg"}
        %img{:alt => "Penguinoh in The Grand Canyon", :src => "images/pictures/grand_canyon_small.jpg"}/
      %strong Grand Canyon, Arizona
    %li
      %a.thickbox{:href => "images/pictures/sedona.jpg"}
        %img{:alt => "Penguinoh in Sedona, AZ", :src => "images/pictures/sedona_small.jpg"}/
      %strong Sedona, Arizona
    %li
      %a.thickbox{:href => "images/pictures/new_orleans.jpg"}
        %img{:alt => "Penguinoh in New Orleans, LA", :src => "images/pictures/new_orleans_small.jpg"}/
      %strong New Orleans
    %li
      %a.thickbox{:href => "images/pictures/new_york.jpg"}
        %img{:alt => "Penguinoh in New York City", :src => "images/pictures/new_york_small.jpg"}/
      %strong Times Square, New York City
    %li
      %a.thickbox{:href => "images/pictures/jet_engine.jpg"}
        %img{:alt => "Penguinoh in a Jet Engine", :src => "images/pictures/jet_engine_small.jpg"}/
      %strong Sucked into a Jet Engine
    
    %li
      %a.thickbox{:href => "images/pictures/stuffed_penguins.jpg"}
        %img{:alt => "In Stuffed Penguin Store", :src => "images/pictures/stuffed_penguins_small.jpg"}/
      %strong In Stuffed Penguin Store
    %li
      %a.thickbox{:href => "images/pictures/stuffed_tree.jpg"}
        %img{:alt => "Stuffed Penguin Tree", :src => "images/pictures/stuffed_tree_small.jpg"}/
      %strong Stuffed Penguin Tree
    %li
      %a.thickbox{:href => "images/pictures/footprint.jpg"}
        %img{:alt => "Evidence of Carnivore", :src => "images/pictures/footprint_small.jpg"}/
      %strong Evidence of Carnivore
    %li
      %a.thickbox{:href => "images/pictures/seal.jpg"}
        %img{:alt => "Evidence of Carnivore", :src => "images/pictures/seal_small.jpg"}/
      %strong With Seal
    %li
      %a.thickbox{:href => "images/pictures/real_penguin.jpg"}
        %img{:alt => "With Real Penguin", :src => "images/pictures/real_penguin_small.jpg"}/
      %strong With Real Penguin
    %li
      %a.thickbox{:href => "images/pictures/real_penguin_2.jpg"}
        %img{:alt => "With Real Penguin", :src => "images/pictures/real_penguin_2_small.jpg"}/
      %strong Oh, My
    %li
      %a.thickbox{:href => "images/pictures/watching_penguins.jpg"}
        %img{:alt => "Watching Penguins", :src => "images/pictures/watching_penguins_small.jpg"}/
      %strong Watching Penguins
    %li
      %a.thickbox{:href => "images/pictures/with_emperor.jpg"}
        %img{:alt => "With Emperor Penguin", :src => "images/pictures/with_emperor_small.jpg"}/
      %strong With Emperor Penguin
    %li
      %a.thickbox{:href => "images/pictures/with_babies.jpg"}
        %img{:alt => "With Emperor Penguin", :src => "images/pictures/with_babies_small.jpg"}/
      %strong With Penguin Chicks

    %li
      %a.thickbox{:href => "images/pictures/family.jpg"}
        %img{:alt => "With Family", :src => "images/pictures/family_small.jpg"}/
      %strong With Family
    %li
      %a.thickbox{:href => "images/pictures/big_sur.jpg"}
        %img{:alt => "California Big Sur", :src => "images/pictures/big_sur_small.jpg"}/
      %strong California Big Sur
    %li
      %a.thickbox{:href => "images/pictures/elk.jpg"}
        %img{:alt => "With Elk", :src => "images/pictures/elk_small.jpg"}/
      %strong With Elk
    %li
      %a.thickbox{:href => "images/pictures/redwoods.jpg"}
        %img{:alt => "Redwood National Park", :src => "images/pictures/redwoods_small.jpg"}/
      %strong Redwood National Park
    %li
      %a.thickbox{:href => "images/pictures/mount_hood.jpg"}
        %img{:alt => "Mount Hood", :src => "images/pictures/mount_hood_small.jpg"}/
      %strong Mount Hood
    %li
      %a.thickbox{:href => "images/pictures/boise.jpg"}
        %img{:alt => "Boise, Idaho", :src => "images/pictures/boise_small.jpg"}/
      %strong Boise, Idaho
    %li
      %a.thickbox{:href => "images/pictures/craters_of_moon.jpg"}
        %img{:alt => "Craters of the Moon", :src => "images/pictures/craters_of_moon_small.jpg"}/
      %strong Craters of the Moon
    %li
      %a.thickbox{:href => "images/pictures/yellowstone_gorge.jpg"}
        %img{:alt => "Yellowstone Gorge", :src => "images/pictures/yellowstone_gorge_small.jpg"}/
      %strong Yellowstone Gorge
    %li
      %a.thickbox{:href => "images/pictures/yellowstone.jpg"}
        %img{:alt => "Yellowstone National Park", :src => "images/pictures/yellowstone_small.jpg"}/
      %strong Yellowstone National Park
    %li
      %a.thickbox{:href => "images/pictures/buffalo.jpg"}
        %img{:alt => "With Buffalo", :src => "images/pictures/buffalo_small.jpg"}/
      %strong With Buffalo
    %li
      %a.thickbox{:href => "images/pictures/grand_teton.jpg"}
        %img{:alt => "Grant Teton National Park", :src => "images/pictures/grand_teton_small.jpg"}/
      %strong Grand Teton National Park
    %li
      %a.thickbox{:href => "images/pictures/cheyenne.jpg"}
        %img{:alt => "Cheyenne, Wyoming", :src => "images/pictures/cheyenne_small.jpg"}/
      %strong Cheyenne, Wyoming
    %li
      %a.thickbox{:href => "images/pictures/four_corners.jpg"}
        %img{:alt => "Four Corners, USA", :src => "images/pictures/four_corners_small.jpg"}/
      %strong Four Corners, USA
    %li
      %a.thickbox{:href => "images/pictures/monument_valley.jpg"}
        %img{:alt => "With Family", :src => "images/pictures/monument_valley_small.jpg"}/
      %strong Monument Valley, Utah
    %li
      %a.thickbox{:href => "images/pictures/painted_desert.jpg"}
        %img{:alt => "Painted Desert, Arizona", :src => "images/pictures/painted_desert_small.jpg"}/
      %strong Painted Desert, Arizona
    %li
      %a.thickbox{:href => "images/pictures/petrified_forest.jpg"}
        %img{:alt => "Petrified Forest", :src => "images/pictures/petrified_forest_small.jpg"}/
      %strong Petrified Forest
    %li
      %a.thickbox{:href => "images/pictures/route_66.jpg"}
        %img{:alt => "On Route 66", :src => "images/pictures/route_66_small.jpg"}/
      %strong On Route 66
    %li
      %a.thickbox{:href => "images/pictures/winslow.jpg"}
        %img{:alt => "Winslow, Arizona", :src => "images/pictures/winslow_small.jpg"}/
      %strong Winslow, Arizona
    %li
      %a.thickbox{:href => "images/pictures/meteor_crater.jpg"}
        %img{:alt => "Meteor Crater", :src => "images/pictures/meteor_crater_small.jpg"}/
      %strong Meteor Crater
    %li
      %a.thickbox{:href => "images/pictures/meteor.jpg"}
        %img{:alt => "On Meteor", :src => "images/pictures/meteor_small.jpg"}/
      %strong On Meteor
    %li
      %a.thickbox{:href => "images/pictures/seligman.jpg"}
        %img{:alt => "Seligman, Arizona", :src => "images/pictures/seligman_small.jpg"}/
      %strong Seligman, Arizona
    %li
      %a.thickbox{:href => "images/pictures/hoover_dam.jpg"}
        %img{:alt => "Hoover Dam", :src => "images/pictures/hoover_dam_small.jpg"}/
      %strong Hoover Dam
